:root {
  --mainblue: #203864;
  --mainsilver: #c0c0c0;
}

body {
  /* font-family: Georgia, sans-serif; */
  font-family: "Open Sans", "Lucida Grande", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* font: 15px/1.5 Arial, Helvatica, sans-serif; */
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

/* Global */
.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

h1 {
  font-family: "Lato", "Lucida Grande", "Tahoma", sans-serif;
  font-size: 32px;
  /* font-size: 3.7rem;
  margin-bottom: 0.3em;
  line-height: 1.1em; */
}

h2 {
  font-family: "Lato", "Lucida Grande", "Tahoma", sans-serif;
  font-size: 24px;
}

h3 {
  font-family: "Lato", "Lucida Grande", "Tahoma", sans-serif;
  font-size: 20.8px;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background-color: #203864;
  background-color: var(--mainblue);
  color: #c0c0c0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
/*  Set look and feel first, then alignment using grid after */

#top-container {
  display: grid;
  justify-content: center; /* justify content for different areas? */
  align-items: center;
  grid-gap: 1px;
  grid-template-areas:
    "smallcontact smallcontact smallcontact"
    "branding brandingTitle myTopnav";
}

header {
  background-color: #203864;
  color: white;
  padding-top: 10px;
  /* min-height: 70px; */
  width: 100%;
  border-bottom-color: #c0c0c0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

#smallcontact {
  grid-area: smallcontact;
  text-align: right;
  font-size: 12px;
}

#smallcontact li {
  display: inline-block;
  padding: 0 20px 0 20px;
}

#smallcontact a {
  color: white;
  padding-left: 5px;
}

#branding {
  /* float: left; */
  grid-area: branding;
}

#brandingTitle h1 {
  grid-area: brandingTitle;
  padding-left: 10px;
  /* float: right; */
  text-align: right;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Gerogia,
    "Times New Roman", serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

#myTopnav {
  grid-area: myTopnav;
}

#myTopnav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

#myTopnav a:hover {
  color: #c0c0c0;
  font-weight: bold;
}

#myTopnav {
  margin-top: 10px;
}

#myTopnav li {
  /* float: left; */
  display: inline;
  padding: 0 20px 0 20px;
}

#myTopnav ul li {
  border-right: 1px solid white;
}

#myTopnav ul li:nth-child(4),
#myTopnav ul li:nth-child(5) {
  border-right: none;
}

#myTopnav li.icon {
  display: none;
}

/* Showcase */
#showcase {
  min-height: 400px;
  text-align: center;
  color: white;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  border-bottom-color: #c0c0c0;
  background-color: #333333;
  background-image: url("../img/showcase.jpg");
  background-position: -300px -750px;
  background-repeat: no-repeat;
  opacity: 0.85;
}

#showcase .bg-image {
  position: absolute;
  background-color: #333333;
  background-image: url("../img/showcase.jpg");
  /* url("https://images.pexels.com/photos/1056553/pexels-photo-1056553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */

  /* Move image up within background */
  /*  background: url('../img/showcase.jpg') no-repeat 0 -400px; */
  /* background-position: top; */
  background-position: 0 -200px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  z-index: -1;
  opacity: 0.65;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* About */

#about p {
  font-size: 25px;
}

/* Testimonials */

#testimonials {
  padding: 20px;
  margin_top: 20px;
  background-color: #ededed;
  text-align: center;
}

/* Services */

#services {
  margin_top: 20px;
  background-color: #203864;
}

#services .services-grid-container {
  display: grid;
  /* grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-gap: 10px 10px;
  /* background-color: #C0C0C0; */
}

#services .services-grid-container .box {
  color: white;
  text-align: center;
  padding: 10px;
}

#services .services-grid-container img {
  width: 90px;
}

/* Areas Of Expertise */
#areasofexpertise {
  margin_top: 20px;
}

#areasofexpertise ul {
  /* columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  */
  margin: 10px;
  padding: 20px;
  list-style-type: circle;
}

#areasofexpertise ul li {
  float: left;
  width: 50%; //helps to determine number of columns, for instance 33.3% displays 3 columns
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: #c0c0c0;
  text-align: center;
  background-color: #203864;
}

footer a {
  color: white;
}
/* Media Queries */

/* Tablets */
@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  #brandingTitle h1 {
    font-size: 34px;
  }

  #myTopnav a {
    font-size: 14px;
  }

  #showcase h1 {
    font-size: 40px;
  }

  #showcase p {
    font-size: 18px;
  }

  #about p {
    font-size: 22px;
  }
}

@media (max-width: 850px) {
  /* Areas of Expertize list */
  #areasofexpertise ul li {
    float: left;
    width: 100%; //helps to determine number of columns, for instance 33.3% displays 3 columns
  }
}

@media (max-width: 850px) {
  /* Fix the services layout */
  #services .services-grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 850px) {
  #top-container {
    grid-template-areas:
      "smallcontact smallcontact "
      "branding brandingTitle "
      "branding myTopnav ";
  }

  #brandingTitle h1 {
    text-align: center;
  }

  #smallcontact {
    text-align: center;
    vertical-align: middle;
  }
}

/* Phones */

@media (max-width: 450px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  #smallcontact {
    font-size: 10px;
  }

  #smallcontact li {
    padding: 0 10px 0 10px;
  }

  #brandingTitle h1 {
    font-size: 22px;
  }

  #myTopnav {
    margin-top: 0;
  }

  #myTopnav a {
    font-size: 10px;
  }

  #myTopnav li {
    padding: 0 10px 0 10px;
  }

  #showcase h1 {
    font-size: 24px;
  }
  #showcase p {
    font-size: 16px;
  }

  #about p {
    font-size: 16px;
  }
}

/* Dynamic Menu */
@media screen and (max-width: 150px) {
  /* Hide menu items and show icon */
  #myTopnav li:not(:last-child) {
    display: none;
    border-right: none;
  }
  #myTopnav li.icon {
    float: right;
    display: inline;
    background-color: red;
  }
}

@media screen and (max-width: 150px) {
  #myTopnav.responsive {
    position: relative;
  }

  #myTopnav.responsive ul {
    position: fixed;
    top: 80px;
  }

  #myTopnav.responsive .icon {
    background-color: green;
    position: absolute;
    right: 0;
    top: -30px;
  }

  #myTopnav.responsive li {
    float: none;
    display: block;
    text-align: right;
  }
}
